@import "src/templates/pages/index.sass";
@import "src/styles/params";


.desc-block-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0 225px;

    .desc-block-title {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 400;
        line-height: 59px;
        text-align: center;
        margin-bottom: 120px;

        .gradient-text {
            background-image: $linearGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .desc-block-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: $maxWidth - 30;
        z-index: 4;

        .desc-block-card {
            width: 344px;
            min-height: 414px;
            border-radius: 9px;
            box-shadow: 0 1px 15px #fab8db;
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            background: white;

            .card-img {
                width: 363px;
                height: 207px;
                background-size: cover;
            }
            .card-content {
                padding: 10px 33px 22px 22px;

                .card-title {
                    @include blackBoldText;
                    font-size: 36px;
                    line-height: 42px;
                    margin-bottom: 5px;
                }
                .card-desc {
                    @include defaultGreyText;
                    font-size: 14px;
                }
            }
        }
    }
    .desc-block-decor {
        position: absolute;
        z-index: -1;
        width: 757px;
        height: 581px;
    }
    .left-decor {
        margin-top: 330px;
        margin-left: -150px;
        left: 0;
    }
    .right-decor {
        display: none;
    }
}
@media screen and (max-width: $tabletWidth){
    .desc-block-content {
        padding: 100px 0 65px;

        .desc-block-title {
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 50px;

        }
        .desc-block-cards {
            width: $maxWidthTablet - 30;
            flex-wrap: wrap;
            z-index: 4;

            .desc-block-card {
                width: $maxWidthTablet;
                min-height: 325px;
                margin-bottom: 60px;

                .card-img {
                    width: $maxWidthTablet;
                    height: 160px;
                    background-size: cover;
                    object-fit: cover;
                }
                .card-content {

                    .card-desc {
                        max-width: 500px;
                    }
                }
            }
        }
        .desc-block-decor {
            width: 232px;
            height: 200px;
        }
        .left-decor {
            left: 35px;
            margin-top: -420px;
        }
        .right-decor {
            display: block;
            right: 0;
            margin-right: -80px;
            bottom: -30px;

        }
    }
}
@media screen and (max-width: $phoneWidth){
    .desc-block-content {
        padding: 0 0 65px;

        .desc-block-title {
            font-size: 20px;
            line-height: 24px;
        }
        .desc-block-cards {
            width: 265px;

            .desc-block-card {
                width: $maxWidthPhone;
                max-height: 400px;
                margin-bottom: 35px;

                .card-img {
                    width: $maxWidthPhone;
                    height: 160px;
                }

                .card-content {
                    padding: 15px 20px 20px;

                    .card-title {
                        font-size: 30px;
                        line-height: 35px;
                    }
                }
            }
        }
        .desc-block-decor {
            display: none;
        }
    }
}
