<div class="container">
    <div class="desc-block-content" id="desc">
        <h2 class="desc-block-title">
            {{ descBlock.title }}
        </h2>
        <div class="desc-block-cards">
            {% for item in descBlock.descCards %}
                <div class="desc-block-card">
                    <img src="{{ item.img }}" alt="card-img" class="card-img">
                    <div class="card-content">
                        <h3 class="card-title">{{ item.title }}</h3>
                        <div class="card-desc">{{ item.desc }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <img
                src="/img/desc-block-right-decor.png"
                alt="desc-block-decor"
                class="desc-block-decor right-decor"
        >
        <img
                src="/img/desc-block-decor.png"
                alt="desc-block-decor"
                class="desc-block-decor left-decor"
        >
    </div>
</div>
