<share-social inline-template>
    <div class="t-share-social">
        <span class="t-share-social__title">Поделитесь</span>
        <div class="t-share-social__items">
            <a :href="facebook" class="t-share-social__item" target="_blank" rel="nofollow">
                <svg width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5.35514 14.6437V7.57103H7.30751L7.56624 5.13374H5.35514L5.35846 3.91386C5.35846 3.27818 5.41885 2.93756 6.33188 2.93756H7.55242V0.5H5.59977C3.25433 0.5 2.42879 1.68235 2.42879 3.67068V5.13402H0.966797V7.57131H2.42879V14.6437H5.35514Z"
                    />
                </svg>
            </a>
            <a :href="vkontakte" class="t-share-social__item" target="_blank" rel="nofollow">
                <svg width="14" height="9" viewBox="0 0 14 9" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.68027 8.26608C7.68027 8.26608 7.93053 8.23878 8.05872 8.10364C8.17605 7.97981 8.17198 7.74614 8.17198 7.74614C8.17198 7.74614 8.15638 6.65499 8.67251 6.49389C9.18117 6.33544 9.8343 7.54908 10.5274 8.01576C11.051 8.3686 11.4485 8.29138 11.4485 8.29138L13.3007 8.26608C13.3007 8.26608 14.2692 8.20749 13.81 7.45987C13.772 7.39862 13.5421 6.90664 12.4332 5.89605C11.2714 4.8382 11.4274 5.00929 12.8259 3.17918C13.6778 2.06473 14.0182 1.38435 13.9117 1.09342C13.8107 0.815144 13.184 0.889041 13.184 0.889041L11.0992 0.90169C11.0992 0.90169 10.9445 0.881052 10.8299 0.948292C10.718 1.0142 10.6454 1.16799 10.6454 1.16799C10.6454 1.16799 10.3158 2.03012 9.87567 2.76376C8.94718 4.31093 8.5762 4.39282 8.42428 4.29695C8.07093 4.0726 8.15909 3.39687 8.15909 2.91688C8.15909 1.41697 8.39104 0.791844 7.70808 0.630069C7.48155 0.576145 7.31471 0.54086 6.73483 0.534869C5.99083 0.527546 5.36144 0.537532 5.0047 0.708626C4.76732 0.822467 4.5842 1.07678 4.69611 1.09143C4.83378 1.1094 5.14577 1.17398 5.31125 1.395C5.52489 1.6806 5.51743 2.32104 5.51743 2.32104C5.51743 2.32104 5.64019 4.08658 5.23054 4.30561C4.94976 4.45606 4.56453 4.14916 3.73643 2.74512C3.31254 2.02612 2.99242 1.23123 2.99242 1.23123C2.99242 1.23123 2.9307 1.08277 2.82015 1.00288C2.68654 0.90635 2.50003 0.876392 2.50003 0.876392L0.518954 0.889041C0.518954 0.889041 0.221215 0.89703 0.112022 1.02419C0.0150368 1.1367 0.104562 1.37037 0.104562 1.37037C0.104562 1.37037 1.65565 4.93273 3.41224 6.72823C5.02301 8.37393 6.85149 8.26608 6.85149 8.26608H7.68027Z"
                    />
                </svg>
            </a>
            <a :href="twitter" class="t-share-social__item" target="_blank" rel="nofollow">
                <svg width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5.4302 3.85487C5.4302 3.08891 4.78475 2.46607 3.99126 2.46607C3.19838 2.46607 2.55231 3.08891 2.55231 3.85487C2.55231 4.62022 3.19838 5.24346 3.99126 5.24346C4.78475 5.24346 5.4302 4.62022 5.4302 3.85487ZM7.46656 3.85486C7.46656 5.7043 5.90826 7.20871 3.99126 7.20871C2.07469 7.20871 0.515973 5.7043 0.515973 3.85486C0.515973 2.00481 2.07469 0.5 3.99126 0.5C5.90826 0.5 7.46656 2.00481 7.46656 3.85486ZM7.4243 9.14013C6.7959 9.5211 6.11365 9.79127 5.40624 9.94683L7.34902 11.8224C7.74702 12.2057 7.74702 12.8284 7.34902 13.2122C6.95144 13.5959 6.30704 13.5959 5.90987 13.2122L3.99974 11.3691L2.09127 13.2122C1.89228 13.4039 1.63152 13.4998 1.37076 13.4998C1.11042 13.4998 0.850083 13.4039 0.651085 13.2122C0.253505 12.8284 0.253505 12.2061 0.650669 11.8224L2.59366 9.94683C1.88625 9.79127 1.204 9.5207 0.575603 9.14013C0.100045 8.85069 -0.0428092 8.24431 0.256832 7.78486C0.555641 7.3248 1.18403 7.18631 1.66042 7.47575C3.08314 8.33965 4.91592 8.33985 6.33948 7.47575C6.81587 7.18631 7.44405 7.3248 7.74348 7.78486C8.04312 8.24391 7.89985 8.85069 7.4243 9.14013Z"
                    />
                </svg>
            </a>
            <a :href="ok" class="t-share-social__item" target="_blank" rel="nofollow">
                <svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M6.61065 3.56637L6.63793 4.0162L6.18327 3.96112C4.5283 3.74997 3.08248 3.03392 1.85489 1.83131L1.25474 1.2346L1.10015 1.67525C0.772797 2.65753 0.981941 3.69489 1.66393 4.39259C2.02766 4.77815 1.94582 4.83323 1.31839 4.60373C1.10015 4.53029 0.909195 4.47521 0.891009 4.50275C0.827356 4.56701 1.04559 5.40241 1.21837 5.73289C1.45479 6.1919 1.93673 6.64173 2.46414 6.90796L2.90971 7.1191L2.3823 7.12828C1.87308 7.12828 1.85489 7.13746 1.90945 7.33025C2.09132 7.92696 2.80968 8.56039 3.60989 8.8358L4.17367 9.02858L3.68263 9.32235C2.95517 9.74464 2.10041 9.98332 1.24564 10.0017C0.83645 10.0109 0.5 10.0476 0.5 10.0751C0.5 10.1669 1.60937 10.681 2.25499 10.883C4.19185 11.4797 6.49244 11.2226 8.22015 10.2036C9.44774 9.47841 10.6753 8.03712 11.2482 6.64173C11.5574 5.89814 11.8665 4.53947 11.8665 3.88767C11.8665 3.46539 11.8938 3.4103 12.403 2.90539C12.7031 2.61163 12.985 2.29032 13.0396 2.19852C13.1305 2.0241 13.1214 2.0241 12.6577 2.18016C11.8847 2.45556 11.7756 2.41884 12.1575 2.00574C12.4394 1.71197 12.7759 1.17952 12.7759 1.02345C12.7759 0.995914 12.6395 1.04182 12.4849 1.12444C12.3212 1.21624 11.9575 1.35394 11.6847 1.43656L11.1936 1.59263L10.7481 1.28968C10.5026 1.12444 10.157 0.940833 9.97515 0.885752C9.51139 0.757229 8.80212 0.77559 8.38383 0.922473C7.24718 1.33558 6.52881 2.40048 6.61065 3.56637Z"
                    />
                </svg>
            </a>
        </div>
    </div>
</share-social>