<search-btn inline-template>
    <div class="t-search-btn" @click="toogleSearchPanel">
        <svg 
            width="12"
            height="12" 
            viewBox="0 0 21 21"
            xmlns="http://www.w3.org/2000/svg"
            >
                <path 
                    fill-rule="evenodd" 
                    clip-rule="evenodd" 
                    d="M12.4355 2.94092C13.9605 2.94092 15.4231 3.54672 16.5014 4.62505C17.5797 5.70339 18.1855 7.16592 18.1855 8.69092C18.1855 9.44602 18.0368 10.1937 17.7479 10.8913C17.4589 11.589 17.0353 12.2228 16.5014 12.7568C15.9675 13.2907 15.3336 13.7143 14.636 14.0032C13.9384 14.2922 13.1906 14.4409 12.4355 14.4409C11.6804 14.4409 10.9327 14.2922 10.2351 14.0032C9.5375 13.7143 8.90362 13.2907 8.36968 12.7568C7.83575 12.2228 7.4122 11.589 7.12324 10.8913C6.83427 10.1937 6.68555 9.44602 6.68555 8.69092C6.68555 7.16592 7.29135 5.70339 8.36968 4.62505C9.44802 3.54672 10.9106 2.94092 12.4355 2.94092ZM18.2692 2.85729C16.722 1.31011 14.6236 0.440918 12.4355 0.440918C10.2475 0.440918 8.14909 1.31011 6.60192 2.85729C5.05474 4.40446 4.18555 6.50288 4.18555 8.69092C4.18555 9.77432 4.39894 10.8471 4.81354 11.8481C5.06763 12.4615 5.39424 13.0406 5.78538 13.5733L0.551662 18.807C0.063509 19.2952 0.063509 20.0866 0.551662 20.5748C1.03982 21.063 1.83128 21.063 2.31943 20.5748L7.55315 15.3411C8.08591 15.7322 8.66498 16.0588 9.27841 16.3129C10.2793 16.7275 11.3521 16.9409 12.4355 16.9409C13.519 16.9409 14.5917 16.7275 15.5927 16.3129C16.5936 15.8983 17.5031 15.2906 18.2692 14.5245C19.0353 13.7585 19.643 12.849 20.0576 11.8481C20.4722 10.8471 20.6855 9.77432 20.6855 8.69092C20.6855 6.50288 19.8164 4.40446 18.2692 2.85729Z" 
                    />
        </svg>
    </div>
</search-btn>