<div class="header-social">
    <div class="container">
        <div class="header-social-content">
            <div class="social-block">
                <img
                        src="/img/header-phone-icon.png"
                        alt="header-phone-icon"
                        class="phone-icon"
                >
                <a href="#" class="social-link">+375 29 292-29-29 (VEL)</a>
                <a href="#" class="social-link">+375 33 333-33-33 (МТС)</a>
            </div>
            <div class="social-block">
                <img
                        src="/img/header-location-icon.png"
                        alt="header-location-icon"
                        class="location-icon"
                >
                <a href="#" class="social-link">ваш город</a>
            </div>
            <div class="social-block">
                <img
                        src="/img/header-social-icon.png"
                        alt="header-social-icon"
                        class="social-icon"
                >
                <a href="#" class="social-link">
                    посетите нашу <br>
                    страницу
                </a>
            </div>
        </div>
    </div>
</div>
