<div class="header-social">
    <div class="container">
        <div class="header-social-content">
            {% for item in headerSocialData %}
                <div class="social-block">
                    <img
                            src="/img/header-phone-icon.png"
                            alt="header-phone-icon"
                            class="phone-icon"
                    >
                    <a href="#" class="social-link">{{ item.phones.phone1 }}</a>
                    <a href="#" class="social-link">{{ item.phones.phone1 }}</a>
                </div>
                <div class="social-block">
                    <img
                            src="/img/header-location-icon.png"
                            alt="header-location-icon"
                            class="location-icon"
                    >
                    <a href="#" class="social-link">{{ item.town.townName }}</a>
                </div>
                <div class="social-block">
                    <img
                            src="/img/header-social-icon.png"
                            alt="header-social-icon"
                            class="social-icon"
                    >
                    <a href="#" class="social-link">
                        {{ item.social.socialData }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
